main {
    background: url(./img/gray-mosaic.jpeg);
    height: 700px;
    grid-area: m;
}

    h1 {
        font-size: 20pt;
        color:#0A70B7
    }


    #textleft {
        width: 45%;
        height:500px;
        float:left;
        background-color: whitesmoke;
        text-align: justify;
        padding: 30px;
        margin-left: 40px;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    #computer {
        width: 45%;
        float:right;
        padding-top: 100px;
        padding-left: 20px;
    }

    #image-home {
        width: 100%;
        float:bottom;
        padding-top: 100px;
    }