@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: rgb(26, 26, 26);
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(10,10,10);
    color: #7dfa9c;
}

.container {
    display: grid;
    grid-template-areas:
    "h h h h h h"
    "n n n n n a"
    "m m m m m m"
    "f f f f f f";
}


header {
    background-color: rgb(10,10,10);
    height: 80px;
    grid-area: n;
    color: #03FA6E;
    
}
    #logo {
        grid-area: a;
        width: 40%;
        float: left;
        text-align: center;
    }
    #home {
        grid-area: a;
        width: 10%;
        float: left;
        text-align: center;
        padding-top: 30px;
    }

    #aulas {
        grid-area: a;
        width: 10%;
        float: left;
        text-align: center;
        padding-top: 30px;
    }

    #notes {
        grid-area: a;
        width: 15%;
        float: left;
        text-align: center;
        padding-top: 30px;
    }

    #suporte {
        grid-area: a;
        width: 15%;
        float: left;
        text-align: center;
        padding-top: 30px;
    }


aside {
    background-color: rgb(10,10,10);
    height: 50px;
    grid-area: a;
}

    .redesocial {
        padding-top: 25px;
        margin-right: 50px;
        float:right;
        margin:0;
        margin-right:30px;
    }


footer {
    background-color: black;
    height: 100px;
    grid-area: f;
}
