* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 80px;
}

#game-board {
    width: 800px;
    height: 432px;
    border: solid 1px black;
    margin:auto;
    position: relative;
    overflow: hidden;
    background-image: url("./img/scenario-blank.png");
    background-size: 800px;
    
}

#thorn {
    position: absolute;
    bottom:11%;
    animation: obs 2s linear infinite;
}

.sonic {
    position: absolute;
    bottom: 11%;
    left:10%;
}

.sonic-jump {
    animation: jump 800ms ease-in-out;
}

@keyframes obs {
    from {
        right:-10%;
    }

    to {
        right:100%;
    }
}

@keyframes jump {
    0% {
        bottom: 11%;
    }

    40% {
        bottom: 35%;
    }

    50% {
        bottom: 38%;
    }

    60% {
        bottom: 35%;
    }

    100% {
        bottom: 11%;
    }

    
}

