
/* comentario */

body {
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: lightgreen;
}

.mystyle {
    font-style: italic;
    color:yellow;
}

a {
    color:blue;
}

a:visited {
    color:rgb(144, 144, 253)
}