body {
    background-color:rgb(10,10,16);
    width: 100%;
    height: 100%;
    color: white;
}

.top-head{
    background-color:rgb(39, 39, 49);
    height: 35px;
}

header{
    background-color:darkblue;
    height: 180px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

nav{
    background-color:rgb(77, 7, 5);
    height: 60px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}
main {
    background-color: rgb(131, 0, 163);
    height: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
}

footer{
    background-color: rgb(3, 78, 3);
    height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto
    
}
.home {
    background-color: rgb(202, 195, 89);
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
}

.aboutme {
    background-color: rgb(212, 198, 0);
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
}

.classes {
    background-color: rgb(114, 108, 19);
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
}

.contact {
    background-color: rgb(114, 108, 19);
    height: 100%;
    width: 20%;
    text-align: center;
    float: left;
}