@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: rgb(26, 26, 26);
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: grid;
    grid-template-areas:
    "h h h"
    "n n a"
    "m m m"
    "f f f";
}

header {
    background-color:rgb(10,10,10);
    height: 80px;
    grid-area: h;
    padding: 10px;
}

nav {
    background-color: rgb(36,36,36);
    height: 50px;
    grid-area: n;
}

main {
    background-color: gray;
    height: 1000px;
    grid-area: m;
}

#home {
    grid-area: a;
    width: 20%;
    float: left;
    text-align: center;
    line-height: 300%;
}

#aulas {
    grid-area: a;
    width: 20%;
    float: left;
    text-align: center;
    line-height: 300%;
}

#notes {
    grid-area: a;
    width: 25%;
    float: left;
    text-align: center;
    line-height: 300%;
}

#sobremim {
    grid-area: a;
    width: 25%;
    float: left;
    text-align: center;
    line-height: 300%;
}

aside {
    background-color: rgb(190, 37, 37);
    height: 50px;
    grid-area: a;
}

.redesocial {
    margin-right: 20px;
    float:right;
    text-align: center;
    line-height: 300%;
}


footer {
    background-color: black;
    height: 100px;
    grid-area: f;
}
