main {
    background: url(../../img/gray-mosaic.jpeg);
    height: 1000px;
    grid-area: m;
    padding-left: 50px;
}

    h1 {
        font-size: 24pt;
        color: #000000;
        padding: 30px;
    }

    .aula-btn {
        float:left;
        padding: 10px;
    }

    #textleft {
        width: 45%;
        float:left;
        text-align: justify;
        padding-top: 30px;
        padding-left: 40px;
        background-color: whitesmoke;
    }

    #textright {
        width: 45%;
        float:right;
    }